@model IEnumerable<CustomIdentityApp.Models.Reception>
@{


}
<html>
<head>
    Заявки
</head>
<body>
    <h3> Заявки </h3>


   

    <table class="table">
        <tr>
            <th>Дата приема</th>
            <th>Время</th>
            
        </tr>
        @foreach (var rec in Model)
        {
            <tr>
                <td><input type="datetime" name="ReceptionDate" value="@rec.ReceptionDate" /></td>
                <td>@rec.Time</td>
                

            </tr>
        }
    </table>


</body>
</html>