@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>

</head>
<body>
    <h1>Помощь</h1>

    <br />

    <p>Этот проект являлся моей дипломной работой. Далее будут рассказано о функциях моего веб-проэкта.</p>

    <br />

    <h3> Аутентификация </h3>

    <br />

    <p>При помощи функций .Net Core реализована аутентификация. Для того чтобы воспользоваться функционалом сайта нужно Зарегистрироваться или Войти в акаунт если вы уже зарегистрировались ранее.</p>

    <br />

    <h3>Запись на приём</h3>

    <br />

    <p>Данный веб-приложение является "Порталом для оказания медицинских услуг" поэтому здесь есть функция записи к врачу. Для записи к врачу надо кликнуть по соответствующей ссылке, далее выбрать врача, а потом выбрать дату и время записи.</p>

    <br />

    <h3>Права доступа</h3>

    <br />

    <p>В данном реализованы права доступа при помощи функций .Net Core. Если пользователь не имеет соответствующих прав доступа, то приложение не пустит данного пользователя на страницу.</p>

    <br />

    <h3>Админ панель</h3>

    <br />

    <p>В данном реализована админ панель при помощи функций .Net Core. </p>

</body>
</html>