
@{


}
    <html>
    <head>
        
    </head>
    <body>
        <h3> Заявка отправлена</h3>

        <input type="date" name="ReceptionDate" value="@ViewBag.ReceptionDate" />
        <input type="number" name="Time" value="@ViewBag.Time" />

    </body>
    </html>